@import '~iview/src/styles/index.less';

@primary-color:#16A085;

body{
	background: url('../images/bj.png');
}
.tr{
	text-align: right;
}
.tl{
	text-align: left;
}
.tc{
	text-align: center;
}
.fr{
    float: right;
}
.cls{
    clear: both;
}
.icon-ml{
	margin-left: 8px;
}
.icon-mr{
	margin-right: 8px;
}
.mb{
	margin-bottom: 24px;
}
.mt{
	margin-top: 8px;
}
.container-body{
    width: 90%;
    min-width: 1280px;
    margin: 0 auto;
}
.container-content{
    padding: 24px;
}
.layout-body{
    background: #FFF;
    position: absolute;
    min-width: 1280px;
    top: 84px;
    bottom: 0;
    left: 48px;
    right: 48px;
    border-top-left-radius:5px;
	border-top-right-radius:5px;
	overflow-y: auto;
    overflow-x: hidden;
}

/*change*/
.ivu-menu-dark .ivu-menu-item-active{
	background: #495e73;
}
.ivu-badge-dot{
    box-shadow: none;
}
.ivu-form-label-top .ivu-form-item-label{
	font-weight: bolder;
}
.ivu-form-inline{
    margin-right: -10px;
}
textarea.ivu-input{
    font-size: 12px;
}

/*animate*/
.slideUp-enter-active,.slideRight-enter-active{
    transition: all 0.4s ease-out;
}
.slideUp-enter{
  transform: translateY(-50px);
  opacity: .5;
}
.slideUp-leave-active{
    display: none;
}
.slideRight-enter{
  transform: translateX(50px);
  opacity: .5;
}
.slideRight-leave-active{
    display: none;
}