@import '~iview/src/styles/index.less';

@primary-color:#16A085;

/*common*/
.fr{
	float: right;
}
.fl{
	float: left;
}
.cls{
	clear: both;
}
.tr{
	text-align: right;
}
.tl{
	text-align: left;
}
.tc{
	text-align: center;
}
.icon-ml{
	margin-left: 5px;
}
.icon-mr{
	margin-right: 16px;
}
.container{
	min-width: 1200px;
    margin: 0 24px;
}
.mb{
	margin-bottom: 24px;
}
.layout-body{
    position: absolute;
    padding-top: 24px;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 24px;
}
.main{
	margin-left: 240px;
	padding: 0 24px;
}

/*change*/
.ivu-menu-dark .ivu-menu-item-active{
	background: @primary-color;
}
