@import '~iview/src/styles/index.less';

@primary-color:#16A085;

.tr{
	text-align: right;
}
.tl{
	text-align: left;
}
.tc{
	text-align: center;
}
.icon-ml{
	margin-left: 8px;
}
.icon-mr{
	margin-right: 8px;
}
.container{
	width: 90%;
	min-width: 1200px;
	margin: 0 auto;
}
.mb{
	margin-bottom: 24px;
}
.mt{
	margin-top: 8px;
}
.layout-body{
    position: absolute;
    padding-top: 24px;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
}

/*change*/
.ivu-menu-dark .ivu-menu-item-active{
	background: #495e73;
}
.ivu-badge-dot{
    box-shadow: none;
}
.ivu-form-label-top .ivu-form-item-label{
	font-weight: bolder;
}
