<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>考拉客房管理系统</title>
	<script src="./js/vue.js"></script>
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="header">
	<div class="container">
		<div class="logo">考拉客房管理系统</div>
		<div class="menu">
			<a href="">收银管理</a>
			<a href="" class="current">门店管理</a>
			<a href="">会员管理</a>
			<a href="">系统配置</a>
		</div>
		<div class="user">
			<a class="name">Admin Dun</a>
			<a href="login.html">
			<i class="fa fa-sign-out" aria-hidden="true"></i></a>
		</div>
	</div>
	</div>
	<div class="middle" id="middle">
	<div class="container">
		<div class="sidebar">
			<dl class="menu">
				<dt>订单管理</dt>
				<dd><a href="">今日新办</a></dd>
				<dd><a href="" class="current">今日离店</a></dd>
				<dd><a href="">全部订单</a></dd>
				<dd><a href="">异常订单</a></dd>
				<dt>房间管理</dt>
				<dd><a href="house_type.html">房间类型</a></dd>
				<dd><a href="house_list.html">房间列表</a></dd>
			</dl>
		</div>
		<div class="frame">
			<table class="table" cellpadding="0" cellspacing="1">
				<thead>
					<tr>
						<td width="6%">序号</td>
						<td width="14%">入住/退房时间</td>
						<td width="8%">客人来源</td>
						<td width="8%">支付方式</td>
						<td width="10%">房屋类型</td>
						<td width="6%">房间号</td>
						<td width="10%">入住人</td>
						<td width="10%">联系方式</td>
						<td width="8%">费用共计</td>
						<td>操作</td>
					</tr>
				</thead>
				<tbody v-for="page in pages">
					<tr>
						<td>{{page}}</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<a href="">退房</a>
							<a href="">查看</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="pagination">
				<a href=""><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
				<a href=""><i class="fa fa-angle-left" aria-hidden="true"></i></a>
				<a href="">1</a>
				<span>2</span>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">5</a>
				<a href="">6</a>
				<span>…</span>
				<a href="">16</a>
				<a href=""><i class="fa fa-angle-right" aria-hidden="true"></i></a>
				<a href=""><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
				<select name="" id="" v-model="pages">
					<option v-bind:value="12">每页12条</option>
					<option v-bind:value="24">每页24条</option>
					<option v-bind:value="36">每页36条</option>
					<option v-bind:value="48">每页48条</option>
				</select>
			</div>
		</div>
	</div>
	</div>
<script>
	new Vue({
		el:'#middle',
		data:{
			pages:12,
		}
	});
</script>
</body>
</html>